In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd

file_path = '/content/drive/MyDrive/Colab Notebooks/ml/Ames_outliers_removed.csv'


df = pd.read_csv(file_path)

df.head()

,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,Utilities,...,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type,Sale Condition,SalePrice
0,526301100,20,RL,141.0,31770,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2010,WD,Normal,215000
1,526350040,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal,105000
2,526351010,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal,172000
3,526353030,20,RL,93.0,11160,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,244000
4,527105010,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal,189900

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
len(df.columns)

81

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2927 entries, 0 to 2926
Data columns (total 81 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   PID              2927 non-null   int64
 1   MS SubClass      2927 non-null   int64
 2   MS Zoning        2927 non-null   object
 3   Lot Frontage     2437 non-null   float64
 4   Lot Area         2927 non-null   int64
 5   Street           2927 non-null   object
 6   Alley            198 non-null    object
 7   Lot Shape        2927 non-null   object
 8   Land Contour     2927 non-null   object
 9   Utilities        2927 non-null   object
 10  Lot Config       2927 non-null   object
 11  Land Slope       2927 non-null   object
 12  Neighborhood     2927 non-null   object
 13  Condition 1      2927 non-null   object
 14  Condition 2      2927 non-null   object
 15  Bldg Type        2927 non-null   object
 16  House Style      2927 non-null   object
 17  Overall Qual     2927 non-null   int64
 18  Overall Cond     2927 non-null   int64
 19  Year Built       2927 non-null   int64
 20  Year Remod/Add   2927 non-null   int64
 21  Roof Style       2927 non-null   object
 22  Roof Matl        2927 non-null   object
 23  Exterior 1st     2927 non-null   object
 24  Exterior 2nd     2927 non-null   object
 25  Mas Vnr Type     1152 non-null   object
 26  Mas Vnr Area     2904 non-null   float64
 27  Exter Qual       2927 non-null   object
 28  Exter Cond       2927 non-null   object
 29  Foundation       2927 non-null   object
 30  Bsmt Qual        2847 non-null   object
 31  Bsmt Cond        2847 non-null   object
 32  Bsmt Exposure    2844 non-null   object
 33  BsmtFin Type 1   2847 non-null   object
 34  BsmtFin SF 1     2926 non-null   float64
 35  BsmtFin Type 2   2846 non-null   object
 36  BsmtFin SF 2     2926 non-null   float64
 37  Bsmt Unf SF      2926 non-null   float64
 38  Total Bsmt SF    2926 non-null   float64
 39  Heating          2927 non-null   object
 40  Heating QC       2927 non-null   object
 41  Central Air      2927 non-null   object
 42  Electrical       2926 non-null   object
 43  1st Flr SF       2927 non-null   int64
 44  2nd Flr SF       2927 non-null   int64
 45  Low Qual Fin SF  2927 non-null   int64
 46  Gr Liv Area      2927 non-null   int64
 47  Bsmt Full Bath   2925 non-null   float64
 48  Bsmt Half Bath   2925 non-null   float64
 49  Full Bath        2927 non-null   int64
 50  Half Bath        2927 non-null   int64
 51  Bedroom AbvGr    2927 non-null   int64
 52  Kitchen AbvGr    2927 non-null   int64
 53  Kitchen Qual     2927 non-null   object
 54  TotRms AbvGrd    2927 non-null   int64
 55  Functional       2927 non-null   object
 56  Fireplaces       2927 non-null   int64
 57  Fireplace Qu     1505 non-null   object
 58  Garage Type      2770 non-null   object
 59  Garage Yr Blt    2768 non-null   float64
 60  Garage Finish    2768 non-null   object
 61  Garage Cars      2926 non-null   float64
 62  Garage Area      2926 non-null   float64
 63  Garage Qual      2768 non-null   object
 64  Garage Cond      2768 non-null   object
 65  Paved Drive      2927 non-null   object
 66  Wood Deck SF     2927 non-null   int64
 67  Open Porch SF    2927 non-null   int64
 68  Enclosed Porch   2927 non-null   int64
 69  3Ssn Porch       2927 non-null   int64
 70  Screen Porch     2927 non-null   int64
 71  Pool Area        2927 non-null   int64
 72  Pool QC          12 non-null     object
 73  Fence            572 non-null    object
 74  Misc Feature     105 non-null    object
 75  Misc Val         2927 non-null   int64
 76  Mo Sold          2927 non-null   int64
 77  Yr Sold          2927 non-null   int64
 78  Sale Type        2927 non-null   object
 79  Sale Condition   2927 non-null   object
 80  SalePrice        2927 non-null   int64
dtypes: float64(11), int64(27), object(43)
memory usage: 1.8+ MB

In [ ]:
# Print the sum of null values for each column
df.isnull().sum()

PID                 0
MS SubClass         0
MS Zoning           0
Lot Frontage      490
Lot Area            0
                 ...
Mo Sold             0
Yr Sold             0
Sale Type           0
Sale Condition      0
SalePrice           0
Length: 81, dtype: int64

Filling in Data or Dropping Data?

Dropping Data

In [ ]:
# Print the sum of null values for each column
print(df.isnull().sum())

# Drop columns with more than 5% missing values
df = df.dropna(thresh=len(df)*0.95, axis=1)

# Drop rows with any missing values
df = df.dropna()

# Print the sum of null values for each column again to verify
print(df.isnull().sum())

PID                 0
MS SubClass         0
MS Zoning           0
Lot Frontage      490
Lot Area            0
                 ...
Mo Sold             0
Yr Sold             0
Sale Type           0
Sale Condition      0
SalePrice           0
Length: 81, dtype: int64
PID               0
MS SubClass       0
MS Zoning         0
Lot Area          0
Street            0
                 ..
Mo Sold           0
Yr Sold           0
Sale Type         0
Sale Condition    0
SalePrice         0
Length: 69, dtype: int64

Filling in Data

In [ ]:
# prompt: # Fill missing values with the mean for numerical columns
# show me before and after missing data

import numpy as np
# Print the sum of null values for each column before filling
print("Missing values before filling:\n", df.isnull().sum())

# Fill missing values with the mean for numerical columns
for col in df.select_dtypes(include=np.number):
    df[col] = df[col].fillna(df[col].mean())

# Print the sum of null values for each column after filling
print("\nMissing values after filling:\n", df.isnull().sum())

Missing values before filling:
 PID               0
MS SubClass       0
MS Zoning         0
Lot Area          0
Street            0
                 ..
Mo Sold           0
Yr Sold           0
Sale Type         0
Sale Condition    0
SalePrice         0
Length: 69, dtype: int64

Missing values after filling:
 PID               0
MS SubClass       0
MS Zoning         0
Lot Area          0
Street            0
                 ..
Mo Sold           0
Yr Sold           0
Sale Type         0
Sale Condition    0
SalePrice         0
Length: 69, dtype: int64